<head>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
* {
  font-family: 'Lexend Deca', sans-serif;
}

.bg-fondo {
  background-image: url("https://raw.githubusercontent.com/JeanCardozo/audios/main/fondo.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

  </style>
</head>

<nav class="bg-gray-200 border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 p-1">
    <div class="flex justify-between h-16">
      <div class="flex"></div>
      <div class="flex items-center justify-center w-full p-4">
        <form class="flex w-full relative" onsubmit="return false;">
          <div class="mb-4">
            <input
              type="text"
              id="searchInput"
              placeholder="¿Qué deseas buscar?..."
              class="flex-grow bg-gray-200 form-input rounded-md shadow-sm border-gray-500 placeholder-gray-500 p-2 pr-10"
            />
          </div>
          <button
            id="searchButton"
            class="absolute right-0 top-0 mt-2 mr-2 text-gray-400 hover:text-gray-600"
            type="submit"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </form>
        <div class="relative ml-4">
          <button
            id="profileButton"
            class="flex items-center focus:outline-none"
          >
            <img
              src="https://raw.githubusercontent.com/JeanCardozo/audios/main/acceso.png"
              alt="Perfil"
              class="h-10 w-10 rounded-full"
            />
          </button>
          <div
          id="profileDropdown"
          class="absolute right-0 mt-2 w-40 bg-white rounded-sm shadow-md hidden text-sm"
        >
        <% if (userData) { %>
          <div class="p-2 border-b">
            <p class="font-semibold">Hola, <%= userData.nombre_usuario %></p>
            <p class="text-gray-600"><%= userData.rol %></p>
          </div>
        <% } else { %>
          <p class="p-2 text-gray-600">Sin información</p>
        <% } %>
        
          <a
            href="/logout"
            class="block p-2 text-gray-700 hover:bg-gray-100 transition-colors"
            >Cerrar sesión</a
          >
        </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="relative">
  <!-- Botón para desplegar la barra lateral -->
  <a
    href="#"
    id="sidebarToggle"
    class="fixed top-4 left-4 z-50 text-2xl text-gray-800 transition-transform duration-300"
    >☰</a
  >

  <!-- Barra lateral -->
  <div
  id="sidebar"
  class="fixed top-0 left-0 h-full w-64 bg-gray-800 text-white transform -translate-x-full transition-transform duration-300 ease-in-out overflow-y-auto max-h-screen"
>
    <div>
      <div class="sidebar-container flex flex-col items-center">
        <img src="https://raw.githubusercontent.com/JeanCardozo/audios/main/logo.png" alt="Logo" class="w-full h-auto max-w-[200px] mb-5 p-5">
      </div>
      
      <h3 class="text-2xl font-bold mb-2 p-3 text-center">
        Gestion de usuarios
      </h3>

      <div class="space-y-2 w-full h-full w-64 bg-gray-900">
        <ul class="p-3">
          <li>
            <a
              href="/ver_roles"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/usuario.png"
                alt="Icono Roles"
                class="w-6 h-6 mr-3"
              />
              <span>Roles</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_clientes"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/2_manes.png"
                alt="Icono Usuarios"
                class="w-6 h-6 mr-3"
              />
              <span>Clientes</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_usuarios"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/2_manes.png"
                alt="Icono Usuarios"
                class="w-6 h-6 mr-3"
              />
              <span>Usuarios</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_talla"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/medicion.png"
                alt="Icono Tallas"
                class="w-6 h-6 mr-3"
              />
              <span>Tallas</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_convenio"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/3_manes.png"
                class="w-6 h-6 mr-3"
                alt="3-manes"
              />

              <span>Convenios</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_mensualidad"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/billete-de-banco.png"
                alt="Icono Mensualidad"
                class="w-7 h-8 mr-3"
              />
              <span>Mensualidad</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_ventas"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/grafica%20de%20subida.png"
                alt="Icono Convenios"
                class="w-6 h-6 mr-3"
              />
              <span>Ventas</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_grupo_muscular"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/musculo%20(1).png"
                alt="Icono Convenios"
                class="w-6 h-6 mr-3"
              />
              <span>Grupo Muscular</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_acti_fisica"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/ejercicio.png"
                alt="Icono Convenios"
                class="w-6 h-6 mr-3"
              />
              <span>Actividad Fisica</span>
            </a>
          </li>
          <li>
            <a
              href="/ver_plan_ent"
              class="flex items-center py-2 px-4 hover:bg-gray-700 rounded no-underline text-sm"
            >
              <img
                src="https://raw.githubusercontent.com/JeanCardozo/audios/main/mancuernas.png"
                alt="Icono Convenios"
                class="w-6 h-6 mr-3"
              />
              <span>Plan De Entrenamiento</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const tableRows = document.querySelectorAll("tbody tr");

    searchInput.addEventListener("keyup", function () {
      const query = searchInput.value.toLowerCase();

      tableRows.forEach((row) => {
        const cellText = row.cells[1].textContent.toLowerCase();

        if (cellText.includes(query)) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      });
    });
  });
</script>
<!-- Incluir en el archivo navbar.ejs -->
<script>
  document
    .getElementById("profileButton")
    .addEventListener("click", function () {
      document.getElementById("profileDropdown").classList.toggle("hidden");
    });

  document
    .getElementById("sidebarToggle")
    .addEventListener("click", function (e) {
      e.preventDefault();
      const sidebar = document.getElementById("sidebar");
      const toggleButton = document.getElementById("sidebarToggle");

      sidebar.classList.toggle("translate-x-0");
      sidebar.classList.toggle("-translate-x-full");

      if (sidebar.classList.contains("translate-x-0")) {
        toggleButton.style.transform = "translateX(16rem)";
      } else {
        toggleButton.style.transform = "translateX(0)";
      }
    });

  // Barra de Búsqueda
  const inputSearch = document.getElementById("inputSearch");
  const tableBody = document.getElementById("tableBody");

  function filterTable() {
    const filter = inputSearch.value.toUpperCase();
    const rows = tableBody.getElementsByTagName("tr");

    for (let i = 0; i < rows.length; i++) {
      const cells = rows[i].getElementsByTagName("td");
      let found = false;

      for (let j = 0; j < cells.length; j++) {
        if (cells[j].innerText.toUpperCase().indexOf(filter) > -1) {
          found = true;
          break;
        }
      }

      rows[i].style.display = found ? "" : "none";
    }
  }

  document
    .getElementById("searchButton")
    .addEventListener("click", filterTable);
  inputSearch.addEventListener("keyup", filterTable);
</script>
