<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Crud Roles</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="card border-secondary">
        <div class="card-header">Nuevo Registro</div>
        <div class="card-body">
          <form action="/crear_mensualidad" method="post">
            <div class="mb-3">
              <label for="id" class="form-label">ID</label>
              <input
                type="number"
                class="form-control"
                id="id"
                name="id"
                tabindex="1"
                required
              />
            </div>

            <div class="mb-3">
              <label for="roles" class="form-label">MENSUALIDADES</label>
              <select class="form-select" name="tipo" id="tipo" required>
                <option value="" disabled selected>
                  Seleccione una mensualidad
                </option>
                <% results.forEach(function(mensu) { %>
                <option value="<%= mensu.id %>">
                  <%= mensu.tipo_de_mensualidad %>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="mb-3">
              <label for="total_pagar" class="form-label">TOTAL PAGAR</label>
              <input
                type="number"
                class="form-control"
                id="total_pagar"
                name="total_pagar"
                required
              />
            </div>

            <div class="mb-3">
              <label for="tiempo" class="form-label">TIEMPO DEL PLAN</label>
              <select
                class="form-select"
                name="tiempo"
                id="tiempo"
                required
                onchange="actualizarValores()"
              >
                <option value="">Seleccione un tiempo del plan</option>
                <option value="15 dias">15 días</option>
                <option value="1 Mes">1 Mes</option>
                <option value="3 Mes">3 Mes</option>
                <option value="6 Mes">6 Mes</option>
                <option value="1 Año">1 Año</option>
              </select>
            </div>

            <input type="hidden" name="meses" id="meses" value="0" />
            <input type="hidden" name="dias" id="dias" value="0" />

            <button type="submit" class="btn btn-primary" tabindex="5">
              Guardar
            </button>
            <a href="/ver_mensualidad" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
      </div>
    </div>

    <script>
      function actualizarValores() {
        const select = document.getElementById("tiempo");
        const mesesInput = document.getElementById("meses");
        const diasInput = document.getElementById("dias");

        // Establecer valores predeterminados
        mesesInput.value = "0";
        diasInput.value = "0";

        // Obtener el valor seleccionado
        const seleccion = select.value;

        // Actualizar meses y días basados en la opción seleccionada
        switch (seleccion) {
          case "15 dias":
            diasInput.value = "15";
            break;
          case "1 Mes":
            mesesInput.value = "1";
            break;
          case "3 Mes":
            mesesInput.value = "3";
            break;
          case "6 Mes":
            mesesInput.value = "6";
            break;
          case "1 Año":
            mesesInput.value = "12";
            break;
          default:
            mesesInput.value = "0";
            diasInput.value = "0";
            break;
        }
      }
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
