<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../src/output.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Ver Usuarios</title>
  </head>
  <body>
    <%- include('../plantillas/navbar.ejs') %>

    <div class="container mx-auto p-5">
      <a
        href="/create_usuarios"
        class="btn mt-4 inline-flex items-center border border-green-400 bg-green-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-green-700"
      >
        <i class="bx bx-plus-circle mr-2"></i> Crear Usuario
      </a>
      <a
        href="/index_admin"
        class="btn mt-4 inline-flex items-center border border-red-400 bg-red-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-700"
      >
        Volver
      </a>

      <div class="max-w-7xl mx-auto p-4">
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto text-xs
             sm:text-sm lg:text-base text-left text-gray-500
              dark:text-gray-400">
        <thead class="bg-gray-500 text-white text-center">
          <tr>
            <th class="px-4 py-6">ID</th>
            <th class="px-4 py-6">NOMBRE</th>
            <th class="px-4 py-6">APELLIDO</th>
            <th class="px-4 py-6">TELEFONO</th>
            <th class="px-4 py-6">CORREO</th>
            <th class="px-4 py-6">CONTRASEÑA</th>
            <th class="px-4 py-6">ROL</th>
            <th class="px-4 py-6">ESTADO</th>
            <th class="px-4 py-6">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>

      <div id="pagination" class="w-full flex justify-center"></div>

      
    </div>


    <script defer>
      const divPagination = document.getElementById('pagination');
      let datos = [];
      const itemsPorPagina = 5;
    
      async function getData() {
        try {
          const response = await fetch('/verUsuarioss', {
            method: 'POST',
          });
    
          if (!response.ok) {
            throw new Error('La solicitud no fue exitosa: ' + response.statusText);
          }
    
          return await response.json();
        } catch (error) {
          console.error('Error al obtener datos:', error);
          return [];
        }
      }
    
      async function inicializar() {
        datos = await getData();
        console.log(datos);
    
        const totalPages = Math.ceil(datos.length / itemsPorPagina);
        generatePagination(totalPages);
        mostrarPagina(1);
      }
    
      function generatePagination(totalPages) {
        divPagination.innerHTML = Array.from({ length: totalPages }, (_, i) => 
          `<button class="border border-gray-300 bg-gray-500 hover:bg-gray-600 text-white font-semibold rounded-md px-3 py-1.5 m-1 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 shadow-md" data-page="${i + 1}">${i + 1}</button>
`
        ).join('');
    
        divPagination.addEventListener('click', (e) => {
          if (e.target.tagName === 'BUTTON') {
            mostrarPagina(parseInt(e.target.dataset.page));
          }
        });
      }
    
      function mostrarPagina(numeroPagina) {
        const inicio = (numeroPagina - 1) * itemsPorPagina;
        const fin = inicio + itemsPorPagina;
        const datosParaMostrar = datos.slice(inicio, fin);
    
        const tbody = document.querySelector('tbody');
        tbody.innerHTML = datosParaMostrar.map((dato, index) => `
          <tr class="py-0    text-xm max-w-sm text-center  hover:bg-gray-100 ${index % 2 == 0 && "bg-gray-100"}">
            <td class="p-2">${dato.id_usuario}</td>
            <td class="p-2">${dato.nombre}</td>
            <td class="p-2">${dato.apellido}</td>
            <td class="p-2">${dato.telefono}</td>
            <td class="p-2">${dato.corre_electronico}</td>
            <td class="p-2">xxxx</td>
            <td class="p-2">${dato.rol}</td>
            <td
              class="px-4 py-2 text-center ${dato.estado === 'Inactivo' ? 'text-red-500' : 'text-green-500'}"
            >
              ${dato.estado}
            </td>            
            <td class="py-4 text-center flex items-center justify-around gap-2">
              <a href="/actualizar_usuarios/${dato.id}" 
                class="px-2 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-700">Editar</a>
              ${dato.estado === "Inactivo" ? `
                <form action="/activarusuario" method="post" class="inline-flex items-center justify-center">
                  <input type="hidden" name="id" value="${dato.id_usuario}" />
                  <button type="submit" class="px-2 py-1 bg-green-500 text-white rounded-md hover:bg-green-700">Activar</button>
                </form>
              ` : `
                <form action="/desactivarusuario" method="post" class="inline-flex items-center justify-center">
                  <input type="hidden" name="id" value="${dato.id_usuario}" />
                  <button type="submit" class="px-2 py-1 bg-red-500 text-white rounded-md hover:bg-red-700">Desactivar</button>
                </form>
              `}
            </td>
          </tr>
        `).join('');
      }
    
      inicializar();
    </script>
  </body>
</html>
